.venv/Lib/site-packages/numpy-2.1.1-cp312-cp312-win_amd64.whl

data/data_traitement

frontend/node_modules

.venv
.env
data/numeros_contrat_robot.json
data/data_traitement/Transfert des S3C - 14 octobre 2024 - fichier Alexis.xlsx
data/driver/Play/OFL.txt
frontend/node_modules/.bin/electron
